.card h1{
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
.card {
    margin: auto;
    margin-top: 250px;
    background-color:black;
    color: azure;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 4px 9px rgba(0, 0, 0, 0.8);
    width: 20vw;
    text-align: center;
}
.card button {
    background-color: rgb(235, 210, 68);
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(226, 198, 35, 0.4);
}
.card input{
    background-color: #f0c843;
    box-shadow: 0 3px 6px rgba(226, 198, 35, 0.4);
}